

















/*Parte geral do código*/
/*para funções que se repetiram durante o código*/
body{
    --BackColor: rgb(22,23,27);
    background-color: var(--BackColor);
    color: aliceblue;
    font-family: Sans-serif;
    font-size: 22px;
}
.Maains-Referencia{
    color:var(--BackColor);
    height: 120px;
    margin-bottom: 20px;
}
abbr{
    text-decoration: none;
    color: rgb(180, 188, 195);
}




/*Cabeçalho*/

.Cabecalho{
    position: fixed; /*Faz com que esse elemento fica na tela independente*/
                     /*da barra de rolagem*/
    width: 100%;
    height: 120px;
    background-color: rgb(23, 7, 39);
    align-content: center;/*esta linha está alinhando os elementos verticalmete*/

}

#Foto_User{ /*foto do usuario*/
    width: 75px;
    height: 75px;
    border: 8px solid  rgb(23, 7, 39);
    border-radius: 100%;
}

#Cabecalho_Incorporado{
    /*Esta classe só foi criada por que o tamanho do Cabeçalho fica no minimo*/
    display: flex;
    justify-content: flex-start;

    padding-left: 20px;
}

 
#Cabecalho_Opcoes{ /*Separar o Div_Incorporado para mexer nos elementos sem a foto*/
    width: 100%;
    align-content: center;
    margin: 10px 0;
    padding-right: 100px;
}

nav{/*Opções que redirecionam para seu conteúdo*/
    ul{
        display: flex; /*Elementos em fileira*/
        gap: 15px; /*Espaço igual entre elementos*/
        justify-content: flex-end;/*Alinha elementos na linha horizontal*/ 
    }

    a{
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    }
    a:hover{
        color: antiquewhite;
        border: 1px dashed antiquewhite;
        font-size: 21px;
    }
}





/*Main || Corpo da pagina*/

.Mains{
    --BackColor:rgb(42,43,57); 

    display: flex;
    background-color: var(--BackColor);
    border: solid var(--BackColor);
    border-width: 16px 9px;
    border-radius: 15px;

    /* Texto */
    h1{
        margin: 5px 0 8px 10px;
        padding: 5px 0 0 5px ;
        border: solid rgb(22,23,27);
        border-width: 10px 5px 5px;
        border-radius: 10px;
    }
    p{
        font-size: 16px;
    }
}

#HOME{
    width: 550px;
    margin: auto; /* CENTRALIZAR */
    padding: 0 20px 20px;

    h1{
        width: 130px;
    }
    #HOME_Aling{
        width: 500px;
    }
    #Indentificar1{
        padding: 8px 0 0 10px;
    }
}

#SOBREMIM{
    width: 600px;
    display: grid;
    margin: auto;
    padding: 0 20px 20px;

    h1{
        width: 150px;
    }

    #SOBREMIM_Aling{
        display: grid;
        grid-template-columns:176px 1fr; /* define o tamanho do espaço do
grid na horizontal. coluna1: 176 pixels || coluna2: 1fr (não sei que porra de medida é essa)*/

        width: 600px;
        padding: 10px;

        #SOBREMIM_Texto{
            width: 400px;
            flex-wrap: nowrap;
        }
        #SOBREMIM_Texto_Pos_Imagem{
            display: block;
            width: 600px;
        }
    }


    #Foto_Creator{
        border: 8px solid rgb(12,13,27);
        border-radius: 25px 45% 65px 25px;

    }
    #Foto_Creator2{
        height: 200px;
        border: solid rgb(12,13,27);
        border-width: 2px 5px 15px;
        border-radius: 35px 46% 15px 15px;
        background-color: rgb(42,43,57);
    }

    a{
        text-decoration: none;
        color: rgb(150, 158, 255);
    }

    p{
        margin-top: 10px;
    }
}