/*Parte geral do código*/
/*para funções que se repetiram durante o código*/
body{
    background-color: rgb(22,23,27);
    color: aliceblue;
    font-family: Sans-serif;
    font-size: 20px
}
.Maains-Referencia{
    color:rgb(22,23,27);
    height: 120px;
}
abbr{
    text-decoration: none;
    color: rgb(200, 208, 215);
}




/*Cabeçalho*/

.Cabecalho{
    position: fixed; /*Faz com que esse elemento fica na tela independente*/
                     /*da barra de rolagem*/
    width: 100%;
    height: 120px;
    background-color: rgb(23, 7, 39);
    align-content: center;/*esta linha está alinhando os elementos verticalmete*/

}

#Foto_User{ /*foto do usuario*/
    width: 75px;
    height: 75px;
    border: 8px solid  rgb(23, 7, 39);
    border-radius: 100%;
}

#Cabecalho_Incorporado{
    /*Esta classe só foi criada por que o tamanho do Cabeçalho fica no minimo*/
    display: flex;
    justify-content: flex-start;

    padding-left: 20px;
}

 
#Cabecalho_Opcoes{ /*Separar o Div_Incorporado para mexer nos elementos sem a foto*/
    width: 100%;
    align-content: center;
    margin: 10px 0;
    padding-right: 100px;
}

nav{/*Opções que redirecionam para seu conteúdo*/
    ul{
        display: flex; /*Elementos em fileira*/
        gap: 15px; /*Espaço igual entre elementos*/
        justify-content: flex-end;/*Alinha elementos na linha horizontal*/ 
    }

    a{
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    }
    a:hover{
        color: antiquewhite;
        border: 1px dashed antiquewhite;
        font-size: 21px;
    }
}





/*Main / Corpo da pagina*/

.Mains{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(42,43,57);
    margin: 20px auto;
    height: 150px;

    border-radius: 15px;

    padding: 10px 25px;
    h1{
        margin: 0 0 6px 15px;
        font-size: larger;
        text-transform: uppercase;
        font-weight: bold;
        

       
    }
    p{
        font-size: 16px;
    }

}

#HOME{
    
    width: 550px;
    
    #Texto_HOME{
        width: 500px;
        #Indentificar1{
            margin-left: 5px;
        }
        #Indentificar2{
            margin-top: 13px;
        }
    }
}

#SOBREMIM{
    width: 550px;
    h1{
        height: 24px;
    }
}
