/*Parte geral do código*/
/*para funções que se repetiram durante o código*/
body{
    background-color: rgb(22,23,27);
    color: aliceblue;
    font-size: 20px
}



/*Cabeçalho*/

.Cabecalho{
    margin-top: -160px;
    position: fixed; /*Faz com que esse elemento fica na tela independente*/
                     /*da barra de rolagem*/
    width: 100%;
    height: 140px;
    background-color: rgb(23, 7, 39);
    align-content: center;/*esta linha está alinhando os elementos verticalmete*/

}

#Foto_User{ /*foto do usuario*/
    width: 75px;
    height: 75px;
    border: 8px solid  rgb(23, 7, 39);
    border-radius: 100%;
}

#Cabecalho_Incorporado{
    /*Esta classe só foi criada por que o tamanho do Cabeçalho fica no minimo*/
    display: flex;
    justify-content: flex-start;

    padding-left: 20px;
}

 
#Cabecalho_Opcoes{ /*Separar o Div_Incorporado para mexer nos elementos sem a foto*/
    width: 100%;
    align-content: center;
    margin: 10px 0;
    padding-right: 100px;
}

nav{/*Opções que redirecionam para seu conteúdo*/
    ul{
        display: flex; /*Elementos em fileira*/
        gap: 15px; /*Espaço igual entre elementos*/
        justify-content: flex-end;/*Alinha elementos na linha horizontal*/ 
    }

    a{
    color: aliceblue;
    text-decoration: none;
    }
    a:hover{
        color: antiquewhite;
        font-size: 21px;
    }
}





/*Main / Corpo da pagina*/

.Mains{
    background-color: rgb(42,43,57);
    margin-top: 160px;
    height: 150px;

    padding: 10px 25px;
    h1{
        margin-left: 10px;
        font-size: larger;
        text-transform: uppercase;
        rt{
            font-size: 11px;
        }
    }
    p{
        font-size: 16px;
    }

}

#Texto_HOME{
    width: 500px;
}
